<div *ngIf="product" class="product-details">
  <div class="details-container">
    <h1>Product: {{product?.name}}</h1>
    <button (click)="addToCart(product)" *ngIf="authService.isCustomer()" class="default-border">Add to cart</button>
    <button (click)="edit()" *ngIf="authService.isAdmin()" class="default-border" id="edit-button">Edit</button>
    <button (click)="delete()" *ngIf="authService.isAdmin()" class="default-border" id="delete-button">Delete</button>
    <div class="default-border product-information">
      <table class="table properties">
        <tr class="tableRow">
          <td class="tableCell property-label">Name</td>
          <td class="tableCell">{{product.name}}</td>
        </tr>
        <tr class="tableRow">
          <td class="tableCell property-label">Category</td>
          <td class="tableCell">{{product['category']}}</td>
        </tr>
        <tr class="tableRow">
          <td class="tableCell property-label">Price</td>
          <td class="tableCell">{{product['price'] | currency:'RON'}}</td>
        </tr>
      </table>
      <div class="img-container"><img src="{{product.image}}"></div>
      <div class="description">{{product['description']}}</div>
    </div>
  </div>
</div>
