<div class="shopping-cart">
  <div>
    <button (click)="checkout()" class="default-border">Checkout</button>
    <table *ngIf="productList" class="table default-border">
      <tr class="tableRow">
        <th *ngFor="let property of properties" class="tableHead">{{property | uppercase}}</th>
        <th class="tableHead">Quantity</th>
      </tr>
      <tr *ngFor="let product of productList" class="tableRow product-list-row">
        <td class="tableCell"><a routerLink="/products/{{product.id}}">{{product.name}}</a></td>
        <td class="tableCell">{{product['category']}}</td>
        <td class="tableCell">{{product['price'] | currency: 'RON'}}</td>
        <td class="tableCell">
          <input (ngModelChange)="updateQuantity(product,$event)" [ngModel]="productIdQuantityMap.get(product.id)"
                 class="quantity-input default-border"
                 max="99" min="0" type="number">
        </td>
        <button (click)="remove(product)" class="default-border">Remove</button>
      </tr>
    </table>
  </div>
</div>
