.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-cart-container {
}

.product-list-row:hover {
  background-color: lightgrey;
  border: 0
}

#create-button {
  float: right
}

.divTable {
  width: 100%;
}

.quantity-input {
  width: 100px;
}
