<div class="login-container">
  <form #productForm="ngForm" (ngSubmit)="login()" class="form-group login-form default-border">
    <h1 class="">Sign in</h1>
    <hr>
    <label>Username:</label>
    <input #name="ngModel"
           [(ngModel)]="username"
           class="default-border"
           minlength="3"
           name="username"
           placeholder="Username"
           required/>
    <div *ngIf="name?.errors?.minlength" class="errorMessage">Username must be at least 3 characters long.</div>
    <label>Password:</label>
    <input #name="ngModel"
           [(ngModel)]="password"
           class="default-border"
           minlength="3"
           name="password"
           placeholder="Password"
           required
           type="password"/>
    <div *ngIf="name?.errors?.minlength" class="errorMessage">Password must be at least 3 characters long.</div>
    <button class="default-border" type="submit">Sign in</button>
  </form>
</div>
