.login-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 50%;
  justify-content: center;
  padding: 10px;
  background-color: white;
}

.login-form * {
  display: block;
  width: 100%;
  margin: 10px 0

}
